<template>
  <div class="bg-gray-200 rounded-md p-3">
    <h1 class="text-2xl text-gray-800">{{ title }}</h1>
    <div class="flex flex-col space-y-10">
      <div class="w-full text-center text-gray-600 font-bold text-lg">
        <p>Turnos No Asignados</p>
        <DataTable
          :header-fields="this.headerFieldsUnassigned"
          :data="this.data"
          :css="this.datatableCss"
          :isLoading="this.tableLoading1"
        />
        <Spinner class="mt-8" v-if="this.tableLoading1" slot="spinner" />
      </div>
      <div class="w-full text-center text-gray-600 font-bold text-lg">
        <p>Turnos Asignados</p>
        <DataTable
          :header-fields="this.headerFieldsAssigned"
          :data="this.data2"
          :css="this.datatableCss"
          :isLoading="this.tableLoading2"
        />
        <Spinner class="mt-8" v-if="this.tableLoading2" slot="spinner" />
      </div>
    </div>
  </div>
</template>

<script>
import { DataTable } from 'v-datatable-light';
import Spinner from 'vue-simple-spinner';

export default {
  components: {
    DataTable,
    Spinner,
  },
  data() {
    return {
      title: 'Turnos',
      headerFieldsUnassigned: [],
      headerFieldsAssigned: [],
      data: [],
      data2: [],
      tableLoading1: true,
      tableLoading2: true,
      datatableCss: {
        table: 'min-w-full leading-normal border-separate',
        theadTh: 'bg-gray-100 text-xs font-semibold',
        tbodyTd:
          'px-2 py-2 border-b border-grey-200 bg-white text-xs font-extralight',
      },
    };
  },

  methods: {
    async getDates() {
      const url = 'http://localhost:3004/turns';
      let data = await fetch(url);
      data = await data.json();
      let dates = data.map((el) => el.date);
      let dates2 = data.map((el) => el.date);
      dates = [...new Set(dates)];
      dates2 = [...new Set(dates2)];
      dates2 = dates2.sort();
      this.headerFieldsUnassigned = dates.sort();
      dates2.unshift('Turnos');
      this.headerFieldsAssigned = dates2;
    },

    async getUnassignedTurns() {
      const url = 'http://localhost:3004/turns';
      let data = await fetch(url);
      data = await data.json();
      let validTurns = data.filter((el) => {
        if (el.maxSlots > el.userId.length) {
          return el;
        }
      });
      return validTurns;
    },

    async getAssignedTurns() {
      const url = 'http://localhost:3004/turns';
      let data = await fetch(url);
      data = await data.json();
      let mapper = [];
      for (let i = 0; i < data.length; i++) {
        for (let j = 0; j < data[i].userId.length; j++) {
          mapper.push([
            await this.retrieveUserInfo(data[i].userId[j]),
            data[i].date,
            await this.retrieveTemplateInfo(data[i].turnTemplateId),
          ]);
        }
      }
      return mapper;
    },

    createUnassignedObject(dataSource) {
      const onlyUnique = (value, index, self) => self.indexOf(value) === index;
      let head = dataSource.map((el) => el[0]);
      head = head.filter(onlyUnique).sort();
      let tmp = {};
      let dataOutput = [];
      for (let i = 0; i < head.length; i++) {
        tmp[head[i]] = dataSource
          .filter((el) => el[0] == head[i])
          .map((el) => el[1]);
      }
      for (let i = 0; i < head.length; i++) {
        for (let j = 0; j < tmp[head[i]].length; j++) {
          if (dataOutput.length < tmp[head[i]].length) {
            dataOutput.push({});
          }
          dataOutput[j][head[i]] = tmp[head[i]][j];
        }
      }
      return dataOutput;
    },

    createAssignedObject(dataSource) {
      dataSource = dataSource.filter((el) => el);
      const onlyUnique = (value, index, self) => self.indexOf(value) === index;
      let head = dataSource.map((el) => el[0]);
      head = head.filter(onlyUnique).sort();
      let dataOutput = [];
      let tmp = {};
      for (let i = 0; i < head.length; i++) {
        dataOutput.push({ Turnos: head[i] });
        tmp = dataSource.filter((el) => el[0] == head[i]);
        for (let j = 0; j < tmp.length; j++) {
          dataOutput[i][tmp[j][1]] = tmp[j][2];
        }
      }
      return dataOutput;
    },

    async retrieveTemplateInfo(id) {
      const url = 'http://localhost:3004/turnTemplates';
      let data = await fetch(url);
      data = await data.json();
      let template;
      try {
        template = data.find((el) => el.id === id);
        template = `${template.name} (${template.checkIn}-${template.checkOut})`;
      } catch {
        template = 'VACACIONES';
      }
      return template;
    },

    async retrieveUserInfo(id) {
      const url = 'http://localhost:3004/users';
      let data = await fetch(url);
      data = await data.json();
      let user;
      user = data.find((el) => el.id === id);
      user = `${user.firstName} ${user.lastName}`;
      return user;
    },

    async writeDataTable() {
      let turns = await this.getUnassignedTurns();
      let dataTable = [];
      for (let i = 0; i < turns.length; i++) {
        dataTable.push([
          turns[i].date,
          await this.retrieveTemplateInfo(turns[i].turnTemplateId),
        ]);
      }
      let obj = this.createUnassignedObject(dataTable);
      this.data = obj;
      this.tableLoading1 = false;
    },
    async writeAssignedDataTable() {
      let turns = await this.getAssignedTurns();
      let orderedTurns = await this.createAssignedObject(turns);
      this.data2 = orderedTurns;
      this.tableLoading2 = false;
    },

    renderUnassignedTable() {
      this.getDates();
      // First table
      this.writeDataTable();

      // Second Table
      this.writeAssignedDataTable();
    },
  },
  created: async function created() {
    this.renderUnassignedTable();
  },
};
</script>
