<template>
  <div>
    <h1 class="font-light text-xl text-grey-600">{{ title }}</h1>
    <hr />
    <article class="prose lg:prose-xl">
      <h1 class="font-black text-3xl">Proyecto prueba Front-end en Vue</h1>
      <p class="text-lg mt-8">
        A continuacion se presenta mi solucion al proyecto en cuestion, por
        favor proceder a navegar por el resto de las pestañas para evaluar.
      </p>
      <p>
        Si no se muestra el documento a continuacion, acceder con el enlace:
        <a
          href="https://docs.google.com/document/d/11d0s2yEFzsfHlUyxsKWkmpn-aeqx4VH7f9v5tCzd6uk/edit?usp=sharing"
          class="no-underline hover:underline text-blue-600"
          target="_blank"
        >
          Generalidades Proyecto SF
        </a>
      </p>
      <p class="text-lg mt-8 font-bold">Quedo atento a sus comentarios...</p>
      <iframe
        src="https://docs.google.com/document/d/11d0s2yEFzsfHlUyxsKWkmpn-aeqx4VH7f9v5tCzd6uk/edit?usp=sharing&embedded=true"
        style="width: 100%; height: 80pc"
        frameborder="0"
      ></iframe>
    </article>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: 'Vista Principal',
    };
  },
};
</script>
