<template>
  <div>
    <h1 class="font-light text-xl text-grey-600">{{ title }}</h1>
    <table class="table-fixed min-w-full leading-normal">
      <thead>
        <tr>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Sucursal
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Horario
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Dirección
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            N° usuarios
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(office, index) in offices" :key="index">
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            {{ office.name }}
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            {{ office.schedule }}
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            {{ office.address }}
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            {{ office.usersCount }}
          </td>
        </tr>
      </tbody>
    </table>
    <Spinner class="mt-8" v-if="this.tableLoading" slot="spinner" />
  </div>
</template>

<script>
import Spinner from 'vue-simple-spinner';

export default {
  components: {
    Spinner,
  },
  data() {
    return {
      title: 'Sucursales',
      offices: [],
      tableLoading: true,
    };
  },

  methods: {
    async getTotalUsersByLocation(id) {
      const usersUrl = 'http://localhost:3004/users';
      let users = await fetch(usersUrl);
      users = await users.json();
      let count = 0;
      users.forEach((user) => {
        if (user.locationId.includes(id)) {
          count++;
        }
      });
      return count;
    },
    async getLocationsInfo() {
      const url = 'http://localhost:3004/locations';
      let locations = await fetch(url);
      locations = await locations.json();
      const generalInfo = locations.map(async (location) => {
        return {
          name: location.name,
          schedule: `${location.startTime}-${location.endTime}`,
          address: `${location.address1}
                    ${!location.address2 ? '' : location.address2},
                    ${location.commune},
                    ${location.region}`,
          usersCount: await this.getTotalUsersByLocation(location.id),
        };
      });
      return generalInfo;
    },
  },
  created: async function created() {
    let locationsInfo = await this.getLocationsInfo();
    let resolvedLocation = await Promise.all(locationsInfo);
    this.offices = resolvedLocation;
    this.tableLoading = false;
  },
};
</script>
