<template>
  <div>
    <h1 class="font-light text-xl text-grey-600">{{ title }}</h1>
    <table class="table-fixed min-w-full leading-normal">
      <thead>
        <tr>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Nombre
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Hora entrada
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Hora Salida
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Descanso
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Horas trabajadas
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Cargo asociado
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Sucursales asociadas
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(turn, index) in turns" :key="index">
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            {{ turn.name }}
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            {{ turn.checkIn }}
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            {{ turn.checkOut }}
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            {{ turn.breakTime }}
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            {{ turn.hoursWorked }}
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            {{ turn.position }}
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            {{ turn.locations }}
          </td>
        </tr>
      </tbody>
    </table>
    <Spinner class="mt-8" v-if="this.tableLoading" slot="spinner" />
  </div>
</template>

<script>
import Spinner from 'vue-simple-spinner';

export default {
  components: {
    Spinner,
  },
  data() {
    return {
      title: 'Plantillas',
      turns: [],
      tableLoading: true,
    };
  },

  methods: {
    hoursWorked(start_time, end_time, break_time) {
      let start = Number(start_time.split(':')[0]);
      let end = Number(end_time.split(':')[0]);
      let diff = ((end - start) * 60 - break_time) / 60;
      return diff;
    },
    async convertValues(value = 1, url, param) {
      let el = await fetch(url);
      el = await el.json();
      let foundValue = el.find((index) => index.id === value)[param];
      return foundValue;
    },
    async convertArrValues(arr = [1, 2, 3], url) {
      let el = await fetch(url);
      el = await el.json();
      let filteredData = el.filter((e) => {
        for (let i of arr) {
          if (e.id === i) {
            return e;
          }
        }
      });
      let locations = filteredData.map((location) => location.name);
      return locations.toString();
    },
    async getAllUsers() {
      const url = 'http://localhost:3004/turnTemplates';
      const positionUrl = 'http://localhost:3004/positions';
      const locationsUrl = 'http://localhost:3004/locations';
      let turnsTemplates = await fetch(url);
      turnsTemplates = await turnsTemplates.json();
      const turns = turnsTemplates.map(async (turn) => {
        return {
          name: turn.name,
          checkIn: turn.checkIn,
          checkOut: turn.checkOut,
          breakTime: turn.breakTime,
          hoursWorked: this.hoursWorked(
            turn.checkIn,
            turn.checkOut,
            turn.breakTime
          ),
          position: await this.convertValues(
            turn.positionId,
            positionUrl,
            'name'
          ),
          locations: await this.convertArrValues(turn.locationId, locationsUrl),
        };
      });
      return turns;
    },
  },

  created: async function created() {
    let users = await this.getAllUsers();
    let resolvedTurns = await Promise.all(users);
    this.turns = resolvedTurns;
    this.tableLoading = false;
  },
};
</script>
