<template>
  <div>
    <h1 class="font-light text-xl text-grey-600">{{ title }}</h1>
    <hr />
    <button
      class="mt-4 mb-4 bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
      @click="throwCreateUserModal()"
    >
      Añadir Usuario
    </button>
    <table class="table-fixed min-w-full leading-normal">
      <thead>
        <tr>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            id
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Nombre Completo
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Cargo
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Sucursales
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Horas / Semana
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
          >
            Acción
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(person, index) in people" :key="index">
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            {{ person.id }}
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            {{ person.fullName }}
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            {{ person.position }}
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            {{ person.branchOffice }}
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            {{ person.hoursPerWeek }}
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <button
              class="mr-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              @click="deleteUser(person.id)"
            >
              Borrar
            </button>
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              @click="editUser(index)"
            >
              Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <Spinner class="mt-8" v-if="this.tableLoading" slot="spinner" />
  </div>
</template>

<script>
const Swal = require('sweetalert2');
import Spinner from 'vue-simple-spinner';

export default {
  components: {
    Spinner,
  },
  data() {
    return {
      title: 'Vista de Usuarios',
      people: [],
      tableLoading: true,
    };
  },
  methods: {
    async convertValues(value, url, param) {
      let el = await fetch(url);
      el = await el.json();
      let va = el.find((index) => index.id === value)[param];
      return va;
    },

    async getAllUsers() {
      const url = 'http://localhost:3004/users';
      const positionUrl = 'http://localhost:3004/positions';
      const locacionUrl = 'http://localhost:3004/locations';
      const contractUrl = 'http://localhost:3004/contracts';
      let users = await fetch(url);
      users = await users.json();
      this.$store.commit('setUsers', users);
      const names = users.map(async (user) => {
        return {
          id: user.id,
          fullName: `${user.firstName} ${user.lastName}`,
          position: await this.convertValues(
            user.positionId[0],
            positionUrl,
            'name'
          ),
          branchOffice: await this.convertValues(
            user.locationId[0],
            locacionUrl,
            'name'
          ),
          hoursPerWeek: await this.convertValues(
            user.contract,
            contractUrl,
            'legalMaxWeeklyHours'
          ),
        };
      });

      return names;
    },

    throwCreateUserModal() {
      console.log('Lista de usuarios original', this.$store.state.userList);
      let self = this;
      let data = [];
      Swal.fire({
        title: 'Agregar usuario',
        html:
          '<input id="swal-input1" class="swal2-input" placeholder="ID">' +
          '<input id="swal-input2" class="swal2-input" placeholder="email">' +
          '<input id="swal-input3" class="swal2-input" placeholder="Nombre">' +
          '<input id="swal-input4" class="swal2-input" placeholder="Apellido">' +
          '<input id="swal-input5" class="swal2-input" placeholder="Fecha de Nacimiento" type="date">' +
          '<input id="swal-input6" class="swal2-input" placeholder="ID Empleado">' +
          '<input id="swal-input7" class="swal2-input" placeholder="Contrato">',
        preConfirm: function () {
          return new Promise(function (resolve) {
            resolve([
              document.getElementById('swal-input1').value,
              document.getElementById('swal-input2').value,
              document.getElementById('swal-input3').value,
              document.getElementById('swal-input4').value,
              document.getElementById('swal-input5').value,
              document.getElementById('swal-input6').value,
              document.getElementById('swal-input7').value,
            ]);
          });
        },
      }).then(function (result) {
        if (result.value !== undefined) {
          data.push({
            id: result.value[0],
            email: result.value[1],
            firstName: result.value[2],
            lastName: result.value[3],
            dateOfBirth: result.value[4],
            employeeId: result.value[5],
            contract: result.value[6],
          });
          self.addUser(data);
          Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Usuario Agregado',
            text: 'Abrir la consola del navegador para verificar!',
            showConfirmButton: false,
            timer: 2500,
          });
        }
      });
    },
    addUser(arr) {
      if (arr.length) {
        this.$store.commit('addUser', arr[0]);
        console.log('Nueva lista de usuarios + 1 ', this.$store.state.userList);
      }
    },

    deleteUser(index) {
      this.$store.commit('deleteUser', index);
      this.people = this.people.filter((user) => user.id !== index);
      console.log('Nueva lista de usuarios - 1 ', this.$store.state.userList);
      Swal.fire({
        position: 'top-end',
        icon: 'warning',
        title: 'Usuario Eliminado',
        text: 'Abrir la consola del navegador para verificar!',
        showConfirmButton: false,
        timer: 1500,
      });
    },

    editUser(index) {
      let self = this;
      Swal.fire({
        title: 'Editar usuario',
        html:
          `<input id="swal-input12" class="swal2-input" placeholder="Nombre" value="${self.people[index].fullName}">` +
          `<input id="swal-input22" class="swal2-input" placeholder="Cargo" value="${self.people[index].position}">` +
          `<input id="swal-input32" class="swal2-input" placeholder="Sucursal" value="${self.people[index].branchOffice}">` +
          `<input id="swal-input42" class="swal2-input" placeholder="Horas/Semana" value="${self.people[index].hoursPerWeek}">`,
        preConfirm: function () {
          return new Promise(function (resolve) {
            resolve([
              document.getElementById('swal-input12').value,
              document.getElementById('swal-input22').value,
              document.getElementById('swal-input32').value,
              document.getElementById('swal-input42').value,
            ]);
          });
        },
      }).then(function (result) {
        if (result.value !== undefined) {
          self.people[index].fullName = result.value[0];
          self.people[index].position = result.value[1];
          self.people[index].branchOffice = result.value[2];
          self.people[index].hoursPerWeek = result.value[3];
          Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Usuario Actualizado',
            showConfirmButton: false,
            timer: 2000,
          });
        }
      });
    },
  },

  created: async function created() {
    let usr = await this.getAllUsers();
    let on = await Promise.all(usr);
    let people = on.sort((a, b) => (a.id > b.id ? 1 : -1));
    this.people = people;
    this.tableLoading = false;
  },
};
</script>
