<template>
  <div
    id="nav"
    class="sticky flex items-center p-3 space-x-3 bg-blue-500 w-full h-14 hidden md:flex flex-col md:flex-row md:ml-auto mt-3 md:mt-0"
  >
    <router-link
      class="p-2 lg:px-4 md:mx-2 text-black-600 text-center border border-transparent rounded hover:bg-indigo-100 hover:text-black-700 transition-colors duration-300"
      to="/"
    >
      Home
    </router-link>
    <router-link
      class="p-2 lg:px-4 md:mx-2 text-black-600 text-center border border-transparent rounded hover:bg-indigo-100 hover:text-black-700 transition-colors duration-300"
      to="/users"
    >
      Usuarios
    </router-link>
    <router-link
      class="p-2 lg:px-4 md:mx-2 text-black-600 text-center border border-transparent rounded hover:bg-indigo-100 hover:text-black-700 transition-colors duration-300"
      to="/locations"
    >
      Sucursales
    </router-link>
    <router-link
      class="p-2 lg:px-4 md:mx-2 text-black-600 text-center border border-transparent rounded hover:bg-indigo-100 hover:text-black-700 transition-colors duration-300"
      to="/calendar"
    >
      Calendario
    </router-link>
    <router-link
      class="p-2 lg:px-4 md:mx-2 text-black-600 text-center border border-transparent rounded hover:bg-indigo-100 hover:text-black-700 transition-colors duration-300"
      to="/turns"
    >
      Turnos
    </router-link>
  </div>
</template>

<script>
export default {};
</script>
